.app-layout {
  display: flex;
  min-height: 100vh;
}
main{
  padding: 2rem;
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
  margin-left: 220px;
  padding: 2rem 5rem;
}

@media (max-width: 700px) {
  .app-layout {
    flex-direction: column;
  }
  .main-content {
    margin-left: 0;
    padding: 1rem;
  }
}
